<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Topic</mat-label>
    <input [(ngModel)]="topic.title" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <textarea [(ngModel)]="topic.description" matInput required type="text" [rows]="5"></textarea>
  </mat-form-field>
  <app-video-production-filter #videoProductionFilter></app-video-production-filter>
</mat-dialog-content>
<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <button (click)="create()" *ngIf="isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Create
  </button>
</mat-dialog-actions>
