<app-menu></app-menu>
<div class="container">
  <mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input [(ngModel)]="seriesSearch.title" matInput>
      </mat-form-field>
      <app-genre-filter #genreFilter></app-genre-filter>
      <app-worker-filter #workerFilter></app-worker-filter>
      <button (click)="search()" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button (click)="resetSearch()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
      <button (click)="create()" *ngIf="isAdmin()" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <mat-card>
        <mat-card-content>
          <mat-selection-list #seriesSelected [multiple]="false">
            <mat-list-option *ngFor="let  series of seriesList | async" [value]="series"
                             [routerLink]="['/series', series.id]">
              <img src="{{series.poster}}" matListAvatar alt="">
              <div matLine>{{ series.title }} ({{series.rating}}
                <mat-icon>star</mat-icon>
                )
              </div>
              <div matLine>({{ series.releaseYear }} - {{series.endingYear}})</div>
              <div matLine>
                <mat-chip-list>
                  <mat-chip selected="true" color="accent"
                            *ngFor="let genre of series.genreList">
                    {{genre}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
