.container {
  padding: 20px 40px;
}
img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.iframe_mobile {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.iframe_desktop {
  width: 550px;
  height: 350px;
}
.mat-icon {
  vertical-align: middle;
  transform: scale(0.70);
}
mat-slider {
  width: 300px;
}
::ng-deep .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }
::ng-deep .mat-slider-thumb {
    transform: scale(0) !important;
  }
::ng-deep .mat-slider-thumb-label-text {
    opacity: 1 !important;
}
