<mat-toolbar color="primary">
  <button mat-button routerLink="/home">
    <img class="img-ico" alt="fsa" src="assets/video.png"/>
    <span> FSA</span>
  </button>
  <div>
    <button routerLink="/forum" mat-button>Forum</button>
    <button [matMenuTriggerFor]="adminManagement" mat-button *ngIf="isAdmin()">Admin</button>
    <mat-menu #adminManagement="matMenu">
      <button mat-menu-item routerLink="/admin/genres" *ngIf="isAdmin()">
        <mat-icon>settings_suggest-outlined</mat-icon>
        <span>Genres Management</span></button>
      <button mat-menu-item routerLink="/admin/workers" *ngIf="isAdmin()">
        <mat-icon>settings_suggest-outlined</mat-icon>
        <span>Workers Management</span></button>
    </mat-menu>
    <button [matMenuTriggerFor]="userManagement" mat-button>
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu #userManagement="matMenu">
      <button mat-menu-item routerLink="/auth/login" *ngIf="!isAuthenticated()">
        <mat-icon>person_outline</mat-icon>
        <span>Login</span></button>
      <button mat-menu-item routerLink="/auth/register" *ngIf="!isAuthenticated()">
        <mat-icon>person_add_alt_1</mat-icon>
        <span>Register</span></button>
      <button mat-menu-item (click)="logout()" *ngIf="isAuthenticated()">
        <span>{{username}}</span>
        <mat-icon>person_outline</mat-icon>
        <span>Logout</span></button>
    </mat-menu>
  </div>
</mat-toolbar>
<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link routerLink="/films">Films</a>
  <a mat-tab-link routerLink="/series">Series</a>
  <a mat-tab-link routerLink="/my-list" *ngIf="isAuthenticated()">My List</a>
</nav>

